body{
  font-family: monospace;
  background-color: #393939;
  color: white;
  text-align: justify;
}

header{
  margin-top: -1%;
  margin-left: -1%;
  width: 101%;
  position: fixed;
  font-size: 200%;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

h1{}
h2{}
h3{}

nav{}

nav>a{
  float: left;
  background-color: black;
  color: white;
  text-decoration: none;
  padding-left:2%;
  padding-right:2%;
  padding-top:1%;
  padding-bottom:1.2%;
}

nav>a:hover{
  background-color: #F8C928;
  color: white;
  text-decoration: none;
  padding-left:2%;
  padding-right:2%;
  padding-top:1%;
  padding-bottom:1.2%;

}

.dropdown {
  display: inline;
  float: left;
  padding-left:2%;
  padding-right:2%;
  padding-top:1%;
  padding-bottom:1.1%;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 0;
    font-family: monospace;
    font-size: 105%;
    background: none;
    color: white;
    text-decoration: none;
}

.dropdown:hover {
  background-color: #F8C928;
  color: white;
  text-decoration: none;
  padding-left:2%;
  padding-right:2%;
  padding-top:1%;
  padding-bottom:1.1%;
}

.dropdown-content {
    display: none;
    margin-left: -2%;
    margin-top: 1%;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    width: 12.5%;
}

.dropdown-content a {
    width: 100%;
    float: none;
    color: black;
    padding-left:2%;
    padding-right:2%;
    padding-top:2%;
    padding-bottom:2%;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
